spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bilet_db
    username: postgres
    password: 416404

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
